@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Source+Sans+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&display=swap');
*, ::before, ::after {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    color:#e4dede;
    
}

.burger{

    position: relative;
    width:70px;
    height:70px;
    background-color: red;
    border-radius: 50%;
    box-shadow: 5px 5px 30px 5px #000000;
    top:10px;
    left:10px;
    z-index: 10px;
  
}

.line{

    position: absolute;
    width:50%;
    height:2px;
    background-color: yellow;
    top:50%;
    left:25%;
   
    
    
}


.cont::before{

    content:'';
    position: absolute;
    width:50%;
    height:2px;
    background-color: yellow;
    top:9px;
    left:25%;

}

.cont::after{

    content:'';
    position: absolute;
    width:50%;
    height:2px;
    background-color: yellow;
    bottom:9px;
    left:25%;
}
 

 

/*  <!-- Navigation verticale / Left Fixed Navbar --> */
.nav-gauche {
    
    width: 300px;
    height: 100vh;
    min-height: 860px;
    background: rgb(5, 5, 5);
    position:fixed;
    top:0;
    left:0;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:center; 
    align-content:space-between;
    z-index:-1;
    transition: all 0.2s ease-in-out;
    font-family:  sans-serif;
    /* left: -300px;  */
    
}
.nav-gauche  img {
    width: 70px;
    height: 70px;
    


}
.nav-gauche a 
{ 
    text-decoration: none;
    color:#2D5C2A;
    font-family: 'Acme', sans-serif;

}

.nav-menu-item a::after {
content:"";
background-color: rgb(253, 250, 253);
width:0;
height: 3px;
display:block;
margin: 10px  auto;

}
.nav-menu-item a::before {
    content:"";
    background-color:rgb(248, 246, 248);
    width: 0;
    height:3px;
    display: block;
    margin: 10px auto;
}

.nav-menu-item a:hover::before{
    width: 100%;

}
.nav-menu-item a:hover::after{
    width: 100%;

}






.cercle-portrait img{

    width: 100px;
    height: 100px;
}


/************************ HOME SECTION **********************/
.accueil {
    background-image:url('../img/twit1.jpg');
    /* background: url(ressources/accueil.jpg); */
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    min-height: 900px;
    margin-top:-100px;
    width: calc(100% - 300px);
    margin-left: auto;
    position:relative;
    
    
}
h1 {
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    font-family: 'Source Sans Pro', sans-serif;
    margin:60px;
    padding-top: 210px;
    
    color: #f7f4f4;
    
}
.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
    font-family: 'Acme', sans-serif;
font-family: 'Pacifico', cursive;

}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: rgb(20, 20, 20);
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
    
}
.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}
.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media2 {
    background: transparent;
    border: 2px solid #333;
}
.icone-medias {
    width: 60px;
    display:flex;
    justify-content: space-around;

}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}